<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <add key="SupportTeamNotificationEmail" value="sharepoint@blah.com" />
  <add key="EmailNewSiteTemplate" value="Resources/EmailContent/NewSiteEmail.html" />
  <add key="EmailFailureSiteTemplate" value="Resources/EmailContent/FailEmail.html" />
  <add key="SentForApprovalEmailTemplate" value="Resources/EmailContent/SentForApprovalEmailMessage.html" />
  <add key="NewRequestReceivedForApprovalEmailTemplate" value="Resources/EmailContent/NewRequestReceivedForApprovalEmailMessage.html" />
  <add key="RequestRejectedEmailTemplate" value="Resources/EmailContent/RequestRejected.html" />
  <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />

  <!--<add key="ClientId" value="d9d0d0cf-c86b-44cd-94d5-dd03f3a26a0e" />
  <add key="ClientSecret" value="jOQ/XeMIXnQMFfhQGLjbXjtMEVpdzaSqG/ptmQCi060=" />-->

  <!--PPE Begins-->
  <!--<add key="ClientId" value="c2823d23-552e-450a-af24-b5b23294c939" />
  <add key="ClientSecret" value="/f24I0gjmzzVCLLiWphsqBuyspFR93WPiajxd1W0pYk=" />
  <add key="SPHost" value="https://ppecollaboration.mdlz.com/sites/nikdevsite" />
  <add key="TenantAdminUrl" value="https://ppecollaboration.mdlz.com/msoTenantContext" />
  <add key="HostedAppHostNameOverride" value="mdzusoktulsps11:2222" />
  <add key="DefaultScAdminLoginName" value="krft\s-shpt"/>-->
  <!--PPE Ends-->

  <!--DEV Begins-->
  <add key="ClientId" value="ee7229a7-1437-41c6-9358-213bb1b32b01" />
    <add key="ClientSecret" value="N34j7j3hOV8absSqudGesnh9BOE23QmL1F34AMIijE4=" />
  <add key="SPHost" value="https://ndmdlz.sharepoint.com/sites/mdlzdev/" />
  <add key="TenantAdminUrl" value="https://ndmdlz-admin.sharepoint.com/" />
  <add key="HostedAppHostNameOverride" value="localhost:44365" />
  <add key="DefaultScAdminLoginName" value="nd.mdlz@ndmdlz.onmicrosoft.com"/>
  <!--DEV Ends-->
</appSettings>


<!--<appSettings>
  --><!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New--><!--
  <add key="AutoApproveSites" value="true" />
  <add key="SupportTeamNotificationEmail" value="createit@mdlz.com" />
  <add key="EmailNewSiteTemplate" value="Resources/EmailContent/NewSiteEmail.html" />
  <add key="EmailFailureSiteTemplate" value="Resources/EmailContent/FailEmail.html" />
  <add key="SentForApprovalEmailTemplate" value="Resources/EmailContent/SentForApprovalEmailMessage.html" />
  <add key="NewRequestReceivedForApprovalEmailTemplate" value="Resources/EmailContent/NewRequestReceivedForApprovalEmailMessage.html" />
  <add key="RequestRejectedEmailTemplate" value="Resources/EmailContent/RequestRejected.html" />
  --><!--PROD Begins--><!--
  <add key="ClientId" value="59b1c7af-e8d4-404e-bbfb-0015631fee04" />
  <add key="ClientSecret" value="LrdbxMGLTRd6hLYqMjw053UeEXqskEz8FbY4X8EWy9I=" />
  --><!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION--><!--
  <add key="SPHost" value="https://collaboration.mdlz.com/sites/createitvnext" />
  --><!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT--><!--
  <add key="TenantAdminUrl" value="https://collaboration.mdlz.com/msoTenantContext" />
  --><!--OVERRIDE FOR HOST NAME--><!--
  <add key="HostedAppHostNameOverride" value="createit.mdlzaddins.com" />
  --><!---MDLZ SETTINGS--><!--
  <add key="DefaultScAdminLoginName" value="krft\s-shpt"/>
  --><!--PPE Ends--><!--
</appSettings>-->