<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <add key="SupportTeamNotificationEmail" value="sharepoint@blah.com" />
  <add key="EmailNewSiteTemplate" value="Resources/EmailContent/NewSiteEmail.html" />
  <add key="EmailFailureSiteTemplate" value="Resources/EmailContent/FailEmail.html" />
  <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />

  <!--<add key="ClientId" value="d9d0d0cf-c86b-44cd-94d5-dd03f3a26a0e" />
  <add key="ClientSecret" value="jOQ/XeMIXnQMFfhQGLjbXjtMEVpdzaSqG/ptmQCi060=" />-->

  <!--PPE Begins-->
  <add key="ClientId" value="c2823d23-552e-450a-af24-b5b23294c939" />
  <add key="ClientSecret" value="/f24I0gjmzzVCLLiWphsqBuyspFR93WPiajxd1W0pYk=" />
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <add key="SPHost" value="https://ppecollaboration.mdlz.com/sites/nikdevsite" />
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <add key="TenantAdminUrl" value="https://ppecollaboration.mdlz.com/msoTenantContext" />
  <!--OVERRIDE FOR HOST NAME-->
  <add key="HostedAppHostNameOverride" value="mdzusoktulsps11:2222" />
  <!---EMAIL SETTINGS-->
  <!---MDLZ SETTINGS-->
  <add key="DefaultScAdminLoginName" value="krft\s-shpt"/>
  <!--PPE Ends-->

  <!--DEV Begins-->
  <!--<add key="ClientId" value="1b73e9f3-ab56-4153-a80a-88f40356e126" />
  <add key="ClientSecret" value="DKrix8MwbNymvDe1Q165frV+so5AB4Zviw4coiQ/Ums=" />
  
  --><!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <!--<add key="SPHost" value="https://ndmdlz.sharepoint.com/sites/mdlzdev/" />-->
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <!--<add key="TenantAdminUrl" value="https://ndmdlz-admin.sharepoint.com/" />-->
  <!--OVERRIDE FOR HOST NAME-->
  <!--<add key="HostedAppHostNameOverride" value="localhost:44365" />-->
  <!---EMAIL SETTINGS--><!--
  --><!---MDLZ SETTINGS-->
  <!--<add key="DefaultScAdminLoginName" value="nd.mdlz@ndmdlz.onmicrosoft.com"/>-->
  <!--DEV Ends-->
</appSettings>
