<!--<smtp from="sharepoint@marascohome.com">
  <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587" userName="youruser" password="yourpassword" />
</smtp>-->
<smtp from="noreply-sharepoint@mdlz.com">
  <network defaultCredentials="true" enableSsl="true" host="KFIINMUML00559" port="25" targetName="KFIINMUML00559" />
</smtp>
