<!--<smtp from="sharepoint@marascohome.com">
  <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587" userName="youruser" password="yourpassword" />
</smtp>-->
<smtp from="noreply-sharepoint@mdlz.com">
  <!--DEV Starts-->
  <network defaultCredentials="true" enableSsl="false" host="localhost" port="26" targetName="localhost"/>
  <!--DEV Ends-->
  <!--PPE Starts-->
  <!--<network defaultCredentials="true" host="smtp.mdlz.com"/>-->
  <!--PPE Ends-->
</smtp>
