<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <add key="ClientSecret" value="J5/DgRKNXb8GjnXSyLnODAmRA4W9GseobMQxtEqMLrY=" />
  <add key="ClientId" value="18f16460-5f7a-4dd2-8916-963c0a9f2296" />
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <add key="SPHost" value="https://ndmdlz.sharepoint.com/sites/dev/" />
  <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <add key="TenantAdminUrl" value="https://ndmdlz-admin.sharepoint.com/" />
  <!--OVERRIDE FOR HOST NAME-->
  <add key="HostedAppHostNameOverride" value="localhost:44311" />
</appSettings>

