<appSettings>
  <!--USED TO SET THE SITE REQUEST TO APPROVE, IF A CUSTOM WORKFLOW IS USED set to false will set the Site Request status as New-->
  <add key="AutoApproveSites" value="true" />
  <add key="SupportTeamNotificationEmail" value="samplegroup@test.com" />
  <!--OVERRIDE FOR HOST NAME-->
  <add key="HostedAppHostNameOverride" value="localhost:44365" />
  <add  key="HostedAppHostName" value=""/>

  <!--<add key="ClientSecret" value="J5/DgRKNXb8GjnXSyLnODAmRA4W9GseobMQxtEqMLrY=" />
  <add key="ClientId" value="8f1f3ca4-7441-4409-b7db-7dffc9f836a4" />-->
  
  <!--DEV MT Starts-->
  <!--the site that hosts the site provisioning application-->
  <add key="SPHost" value="https://ndmdlz.sharepoint.com/sites/mdlzdev/" />
  <!--the tenant admin site for your environment-->
  <add key="TenantAdminUrl" value="https://ndmdlz-admin.sharepoint.com/" />
  <!--DEV MT Ends-->

  
  <!--PPE Starts-->
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <!--<add key="SPHost" value="https://ppecollaboration.mdlz.com/sites/nikdevsite" />-->
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <!--<add key="TenantAdminUrl" value="https://ppecollaboration.mdlz.com/msoTenantContext" />-->
  <!--PPE Ends-->


  <!--PROD Starts-->
  <!--THE SITE THAT HOSTS THE SITE PROVISIONING APPLICATION-->
  <!--<add key="SPHost" value="https://collaboration.mdlz.com/sites/nikdevsite" />-->
  <!--THE TENANT ADMIN SITE FOR YOUR ENVIRONMENT-->
  <!--<add key="TenantAdminUrl" value="https://collaboration.mdlz.com/msoTenantContext" />-->
  <!--PROD Ends-->
</appSettings>

