<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="modulesSection" type="Provisioning.Common.Configuration.ModulesSection, Provisioning.Common" />
  </configSections>
  <!--SEPARATE SETTINGS FILES FOR APP SETTINGS and PROVISIONING SETTINGS-->
  <modulesSection configSource="provisioningSettings.config" />
  <appSettings file="appSettings.config">
    <!--DEV Starts-->
    
    <add key="ClientId" value="250f80be-4ef9-48b2-b517-a77298634f26" />
    <add key="ClientSecret" value="bP+iSHbrSDzqimEnO2SDYwneGLSW49j4IWaC8g51+Es=" />
    <!--<add key="ClientId" value="ea07dda7-92ef-4b14-a933-0598cdceee5c" />
    <add key="ClientSecret" value="N34j7j3hOV8absSqudGesnh9BOE23QmL1F34AMIijE4=" />-->
    <!--<add key="ClientId" value="ee7229a7-1437-41c6-9358-213bb1b32b01" />
    <add key="ClientSecret" value="N34j7j3hOV8absSqudGesnh9BOE23QmL1F34AMIijE4=" />-->
    <!--DEV Ends-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="6000"> </sessionState>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <location path="~/Pages/subsite/newsbweb.aspx">
    <system.web>
      <httpRuntime executionTimeout="600" />
    </system.web>
  </location>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <!--<rewrite>
      <outboundRules>
        <clear />
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=lax" />
          <conditions>
          </conditions>
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>-->
  </system.webServer>
  <!--<system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy scriptLocation="http://pac.mdlz.net/proxy.pac"/>
    </defaultProxy>
  </system.net>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="txtListener" type="Provisioning.Common.MdlzComponents.DailyTraceListener, Provisioning.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="C:\N\CreateItvNextLogs\Web\pnprovisioningjob.log" />
        <!--<add name="txtListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="pnprovisioningjob.log" />-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>