<div data-ng-controller="shell as vm" ng-class="{ 'createit-beta-ui':vm.isBetaInterface }">
    <section id="content" class="content">
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>

        <div data-ng-include="vm.isBetaInterface ? 'mdlz/wizard_beta.html' : 'mdlz/wizard.html'"></div>

    </section>
    <div class="templ-preview-overlay" ng-if="PreviewModalPopup.Visible">

    </div>
    <div class="templ-preview-display" ng-if="PreviewModalPopup && PreviewModalPopup.Visible">
        <div>
            <div>
                <!--<h3>Template Preview</h3>-->
                <a href="javascript:;" ng-click="PreviewModalPopup.Visible = false">X</a>
                <div class="clr"></div>
            </div>
            <div class="templ-preview-img-cont">
                <!--<div class="loader">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw" style=""></i>
                </div>-->
                <div class="templ-preview-img">
                    <img ng-src="{{PreviewModalPopup.ImageUrl}}" alt="Template Preview" />
                </div>
            </div>
        </div>
    </div>
</div>