<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://localhost:44311</SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>$(PackageFileName)</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <PublishDatabaseSettings />
  </PropertyGroup>

  <ItemGroup>
  <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>5bdfa73f-c9ab-40fb-a0e3-6bc67a90b06f</DefaultValue>
            <Value>5bdfa73f-c9ab-40fb-a0e3-6bc67a90b06f</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>ILG3hIjy9A+TfrPHIRvM99k32Mu01pMmT9Km9d4P3sI=</DefaultValue>
            <Value>ILG3hIjy9A+TfrPHIRvM99k32Mu01pMmT9Km9d4P3sI=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
</Project>