<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup><DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://localhost:44365</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\Users\huy4230\Documents\Temp\2017-02-24\Web</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>ee7229a7-1437-41c6-9358-213bb1b32b01</DefaultValue>
      <Value>ee7229a7-1437-41c6-9358-213bb1b32b01</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>N34j7j3hOV8absSqudGesnh9BOE23QmL1F34AMIijE4=</DefaultValue>
      <Value>N34j7j3hOV8absSqudGesnh9BOE23QmL1F34AMIijE4=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>