#s4-titlerow {
    background-image: url("/SiteAssets/vNext/Blog/Images/BlogSiteBanner.png");
    height:auto !important;
}

.ms-core-brandingText {
    display: none;
}

.ms-srch-sb {
    background-color: white;
}

.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
    color: #FFFFFF;
    padding-left: 5px;
}

.ms-promlink-parttitle {
    color: #4f2170 !important;
}

.ms-blog-MainArea .ms-webpart-chrome{
    border: #0045ad 1px solid !important;
    display:block
}
.ms-blog-MainArea .ms-webpart-chrome .ms-webpart-chrome-title{
    /* background-image: url('/SiteAssets/vNext/Blog/Images/red_header_mdl.png') */
    background: #A52323;
}
.ms-blog-MainArea > tbody > tr > td:first-child .ms-webpart-chrome:first-child {
    border: none !important;
}
/*
.mondoleze-team-site-title {
    font-family:Arial;
    font-size:2.77em;
    position:absolute;
    top:45px;
    left:245px;
left:210px;
    color:#E5E2E2;
}*/



.headerbckground {
    background-image: url("/SiteAssets/vNext/Team/Images/blue_header_mdl.png");
    background-repeat:repeat-x;
    height:37px;
   color:white;
   font-family:"Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
   text-align:left;
   padding-left:5px;
   font-size:1.46em;
}



#RibbonContainer-TabRowRight {
    display:none !important;
}
/*
.ms-core-suiteLinkList {
    display:none;
}*/

/*

#DeltaPlaceHolderMain > table  table  td
{
padding-left:30px;
	}




#suiteBarLeft {
    background-color:#f7f3f7;
}

*/
div[id$='QuickLaunchNavigationManager'] a[href$='Reports.aspx']
{
  display:none !important;
}




div[id*='DeltaTopNavigation'] .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link{
color:white !important;
}

div[id*='DeltaTopNavigation'] > .ms-core-listMenu-item:link{
color:white !important;
}

/*

div[id$='DeltaTopNavigation'] > .ms-core-listMenu-horizontalBox > .ms-core-listMenu-root > .ms-listMenu-editLink
{
display:none;
}
*/


div[id*='TopNavigationMenu'] > ul > li
{
color:white !important;
float:left;
} 

/*Navigation Fix - Start*/
.mdz-pubWithNodes > ul > li > a.static {
    display: none;
}

.mdz-pubWithNodes > ul > li > ul > li {
    float: left;
}

li.dynamic-children:hover span.dynamic-children span {
    text-decoration: underline;
}
li.dynamic span:hover {
    text-decoration: underline;
}
li.dynamic-children ul span {
    color: black;
}
/*Navigation Fix - End*/

div[id*='TopNavigationMenu']  ms-navedit-editLinksText > span > .ms-metadata,div[id*='TopNavigationMenu'] .ms-core-listMenuEdit > tr > .ms-navedit-linkCell > .ms-core-listMenu-item
{

color:white !important;
}

a[id*='TopNavigationMenu_NavMenu_AddLink']
{
color:white !important;
}


div[id*='TopNavigationMenu'] .ms-core-listMenu-item,div[id*='TopNavigationMenu'] .ms-core-listMenu-item:link,div[id*='TopNavigationMenu'] .ms-core-listMenu-item:visited,div[id*='TopNavigationMenu'] .ms-tv-item:link,div[id*='TopNavigationMenu'] .ms-tv-item:visited,div[id*='TopNavigationMenu'] .ms-tv-header:link,div[id*='TopNavigationMenu'] .ms-tv-header:visited
{
color:white !important;
}


div[id*='TopNavigationMenu'] .ms-navedit-editLinksText > span > .ms-metadata,div[id*='TopNavigationMenu'] .ms-core-listMenuEdit > tr > .ms-navedit-linkCell > .ms-core-listMenu-item
{
color:white !important;
}



.ms-blog-MainArea{
min-width:1100px;

}

.ms-blog-MainArea td{
padding:15px;
}

.ms-blog-adminLinks{
min-width:250px
}

.ms-blog-LeftColumn{
width:250px
}


.mondoleze-team-site-title{
    color:#E5E2E2 !important;
    font-family:Arial;
}


#siteIcon {

max-height:64px;

width:180px;

}

#DeltaPlaceHolderPageTitleInTitleArea{
display:none;
}

/*Hiding OneDrive*/
a[id*='ShellDocuments'], a[id*='ShellNewsfeed'], a[id*='ShellSites'] {
    display: none !important;
}

#O365_MainLink_Help {
    visibility: hidden;
}

    #O365_MainLink_Help > span {
        visibility: visible;
    }