<script type="text/ng-template" id="form-messages">
    <div ng-message="required">{{ 'ERR_CANNOT_BE_BLANK' | translate }}</div>
    <div ng-message="minlength">{{ 'ERR_TO_SHORT' | translate }}</div>
    <div ng-message="maxlength">{{ 'ERR_TO_LONG' | translate }}</div>
    <div ng-message="pattern">{{ 'ERR_NOT_CORRECT_FORMAT' | translate }}</div>
</script>
<div class="modal-body">

    <div class="row">

        <div class="col-sm-3">

            <div class="modal-left">
                <!--<img src="../images/WizardLogo.png" class="img-responsive" alt="Site Provisioning" />-->
                <i class="fa fa-cogs wm-logo"></i>

                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{'active': getCurrentStep() == 1}" 
                        ng-click="setCurrentStep(1)">
                        <a href="#" class="leftnav">{{ 'TEMPLATE_SELECTION' | translate }}</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 2}"
                        ng-click="(!IsCurrentStepValid(1) && getCurrentStep() < 2) || setCurrentStep(2)" 
                        ng-disabled="(!IsCurrentStepValid(1) && getCurrentStep() < 2)">
                        <a href="#" class="leftnav">{{ 'THE_DETAILS' | translate }}</a>
                    </li>
                    <li ng-class="{'active': getCurrentStep() == 3}" 
                        ng-click="(!IsCurrentStepValid(1) || !IsCurrentStepValid(2)) || setCurrentStep(3)"
                        ng-disabled="(!IsCurrentStepValid(1) || !IsCurrentStepValid(2))">
                        <a href="#" class="leftnav">{{ 'CONFIRMATION' | translate }}</a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="col-sm-9">

            <form name="formWizard" novalidate>

                <div class="modal-right" ng-switch="getCurrentStep()">
                    <!-- Step 1 - Site Templates -->
                    <div class="step" ng-switch-when="1">
                        <div data-ng-include="'mdlz/view_sitetemplates.html'"></div>
                    </div>
                    <!-- Step 2 - Site Details  -->
                    <div class="step" ng-switch-when="2">
                        <!--<div>Category: {{SelectedMdlzSiteCategory.Title}}</div>-->
                        <div data-ng-include="'mdlz/'+ SelectedMdlzSiteCategory.ViewFolder + 'view_sitedetails.html'"></div>
                    </div>
                    <!-- Step 3 - Confirmation -->
                    <div class="step" ng-switch-when="3">
                        <div data-ng-include="'mdlz/'+ SelectedMdlzSiteCategory.ViewFolder + 'view_confirmation.html'"></div>
                    </div>
                    <div class="modal-right-footer">
                        <span class="btn-image" ng-if="!isFirstStep()" ng-click="handlePrevious()">
                            <i class="fa fa-arrow-circle-left"></i>
                        </span>
                        <span class="btn-image" ng-if="!isLastStep()" ng-click="!IsCurrentStepValid() || handleNext()" ng-disabled="!IsCurrentStepValid()">
                            <i class="fa fa-arrow-circle-right"></i>
                        </span>
                        <span class="btn-image" ng-if="isLastStep()" ng-click="!IsCurrentStepValid() || finished()" ng-disabled="!IsCurrentStepValid()">
                            <i class="fa fa-check-circle"></i>
                        </span>
                        <span class="btn-image" ng-click="cancel()">
                            <i class="fa fa-times-circle"></i>
                        </span>
                        <!--<button ng-click="testClick()">Test</button>-->
                    </div>

                </div><!--/.modal-right-->

            </form>

        </div><!--/.col-sm-9-->

    </div><!--/.row-->

</div><!--/.modal-body-->
<style>
    
</style>