<section id="dashboard-view" data-ng-controller="WizardController as vm">
    <div class="progBar" ng-style="{width:ProgressBar + '%'}" ng-hide="ProgressBar==100"></div>
    <section class="matter" data-ng-show="!isDataLoading()">
        <!-- Layout Here is purely for deveopment purposes -->
        <div class="">
            <div class="center">
                <div class="row">
                    <div>
                        <img src="/images/mdlz/banner.png" />
                    </div>
                </div>
                <div class="row content-section">
                    <!--<div class="row">
                        <div class="col-sm-3">

                            <a href="https://collaboration.mdlz.com/sites/productivityhub/sharepoint/Pages/SLK.aspx">SharePoint Learner's Kit</a> |
                            <a href="https://collaboration.mdlz.com/sites/productivityhub/sharepoint/Pages/TrainingVideos.aspx">Training Videos</a>
                        </div>
                        <div class="btn-holder">
                            <button class="btn btn-danger" data-ng-click="open()">{{ 'REQUEST_A_SITE' | translate }}</button>
                            <button class="btn btn-success" data-ng-click="OpenMyRequestsModal()">View Existing Requests</button>
                            <button id="cancel_button" class="btn btn-default" data-ng-click="cancel()">{{ 'SITE_EDIT_CANCEL' | translate }}</button>
                        </div>
                    </div>-->
                    <div class="row template-catalog">
                        <div class="row">
                            <a href="javascript:;" class="card" data-ng-click="open()">
                                <!--<div class="c-addnew-pnl">
                                    <div class="c-addnew-1">
                                        <i class="fa fa-sitemap fa-5 fa-tile"></i>
                                        <i class="fa fa-users fa-5 fa-tile"></i>
                                    </div><div class="c-addnew-2">
                                        <i class="fa fa-cloud-upload fa-5 fa-tile"></i>
                                        <i class="fa fa-share-alt fa-5 fa-tile"></i>
                                    </div>


                                </div>-->
                                <div>
                                    <i class="fa fa-globe fa-tile"></i>
                                </div>
                                <div class="card-pullout">

                                </div>
                                <div class="card-pullout-text">
                                    <b class="ng-binding">Request a site</b>
                                    <div>Create a request for a new site by following easy steps</div>
                                </div>
                            </a>
                            <a href="javascript:;" class="card" data-ng-click="OpenMyRequestsModal()">
                                <div>
                                    <i class="fa fa-list fa-tile"></i>
                                </div>
                                <div class="card-pullout">

                                </div>
                                <div class="card-pullout-text">
                                    <b>Track Existing Requests</b>
                                    <div>View site creation requests you made previously, both completed and pending</div>
                                </div>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://collaboration.mdlz.com/sites/productivityhub/sharepoint/Pages/SLK.aspx" class="card" target="_blank">
                                <div>
                                    <i class="fa fa-graduation-cap fa-5 fa-tile"></i>
                                </div>
                                <div class="card-pullout">

                                </div>
                                <div class="card-pullout-text">
                                    <b>SharePoint Learner's Kit</b>
                                    <div>
                                        Includes e-learning capabilities to help you learn more about SharePoint and its features.
                                    </div>
                                </div>
                            </a>
                            <a href="https://collaboration.mdlz.com/sites/productivityhub/sharepoint/Pages/TrainingVideos.aspx" class="card" target="_blank">
                                <div>
                                    <i class="fa fa-youtube-play fa-5 fa-tile"></i>

                                </div>
                                <div class="card-pullout">

                                </div>
                                <div class="card-pullout-text">
                                    <b>Training Videos</b>
                                    <div>
                                        Here are a few videos to help you perform common tasks in creating and managing your SharePoint site.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--<div class="row card" style="background:#b5c3e7">
                            <img src="/images/mdlz/box01.png" alt="..." class="pull-left gap-right">
                            <div>A Team Site should be used by teams to collaborate from a central location, share information, and store documents. Team Sites should not be used for general communication to large or diverse groups of employees – that is the purpose of intranet sites. If you are interested in a more user friendly, dynamic, functional team site, please reach out to your local Regional IS Collaboration Leads by visiting their website and opening up a new project request. Please note, there may be funding needed depending on your requirements.</div>
                        </div>
                        <div class="row card" style="background:#cebed6">
                            <img src="/images/mdlz/box05.png" alt="..." class="pull-left gap-right">
                            <div>
                                A project site is a Team Site with capabilities to manage projects, including plan to track projects, storage for project artifacts, lists to track issues, risks and tasks.
                            </div>
                        </div>
                        <div class="row card" style="background:#efefb5">
                            <img src="/images/mdlz/box03.png" alt="..." class="pull-left gap-right">
                            <div>
                                STOP! Do you need a Document Center or a Standard Team Site? You should only select a Document Center when a Standard Team Site will not meet your specific needs.A Document Center should be used when large volume of active documents needs to be centrally managed.
                            </div>
                        </div>
                        <div class="row card" style="background:#b5ebef">
                            <img src="/images/mdlz/box04.png" alt="..." class="pull-left gap-right">
                            <div>
                                A Business Partner Team Site enables Mondelēz International teams or employees to work more effectively with select suppliers, customers or any outside agents in conducting business. To use a Business Partner Team Site, individuals outside our company need to sign up as a contractor through iRequest.
                            </div>
                        </div>-->
                    </div>

                </div>
            </div>
        </div>

        <!--<div class="container" data-ng-show="!isDataLoading()">
            <div class="row">
                <div class="col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                            <h3 class="panel-title">{{ 'SITE_PROVISIONING' | translate }}</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <img src="../images/WizardLogo.png" class="img-responsive img-thumbnail"
                                     alt="Site Provisioning" />
                                <span ng-bind-html="'WELCOME_TEXT' | translate"></span>
                                <img src="/images/mdlz-logo.png" style="width: 200px;float: right;margin-top: 20px;">
                                <div style="clear:both"></div>
                            </p>
                            <br />
                            <div>
                                <button class="btn btn-default" data-ng-click="OpenMyRequestsModal()">View Existing Requests</button>
                                <button class="btn btn-default" data-ng-click="open()">{{ 'REQUEST_A_SITE' | translate }}</button>
                                <button id="cancel_button" class="btn btn-default" data-ng-click="cancel()">{{ 'SITE_EDIT_CANCEL' | translate }}</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>-->
        <div style="display:none" ng-cloak>
            <img ng-repeat="t in templates" ng-src="{{t.imageUrl}}" />
        </div>
    </section>

</section>

<style>
    
</style>